* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --orange-color: #FFC01F;
    --text-color: #353535;
    --hover-color: rgb(241, 62, 62);
    --transition-text: all 0.126s ease-in;
    --baslig-color: #596C72;
    --transition-button: all 0.24s ease;
    --transition-box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.5);
    --card-text-color: #686868;
    --history-text-color: #B0ADAD;
    --background-color-grey: #EFEFEF;
    --ana-sehife-text-color: #ADADAD;
}

html {
    font-size: 62.5%;
}

/*! Header */

.header-container {
    display: flex;
    flex-direction: column;
}

/*? Ustdeki Navbar */

.header-navbar-1 {
    padding: 1.4rem 6rem;
    width: 100%;
    height: 4rem;
    background-color: var(--orange-color);
    display: flex;
    justify-content: space-between;
}

/*? Header-text */

.header-navbar-1 .header-text-num p {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-logo a img {
    width: 100%;
}

/*? Header Social */

.header-navbar-1 .header-social {
    display: flex;
    gap: 2.5rem;
}

.header-navbar-1 .header-social a i {
    font-size: 1.4rem;
    color: var(--text-color);
    transition: var(--transition-text);
}

.header-navbar-1 .header-social a i:hover {
    color: var(--hover-color);
}

/*? Asagidaki Navbar */

.header-navbar-2 {
    width: 100%;
    height: 11.8rem;
    background: #fff;
    padding: 0 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 2px 7px 0px rgba(159, 159, 159, 0.25);
}

/*? Buttons-a */

.header-navbar-2 .header-btns {
    display: flex;
    align-items: center;
    gap: 5.4rem;
}

.header-navbar-2 .header-btns a {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: var(--transition-text);
}

.header-navbar-2 .header-btns a:hover {
    color: var(--hover-color);
}

/*? Texnikalar btn-icon */

.header-navbar-2 .header-btns .btn-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-navbar-2 .header-btns .btn-icon i {
    color: var(--orange-color);
}

/*? Languages */

.header-navbar-2 .header-languages a {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: var(--transition-text);
}

.header-navbar-2 .header-languages a:hover {
    font-weight: 800;
}

.header-navbar-2 .header-list .icon-list i {
    font-size: 3rem;
    color: var(--orange-color);
    display: none;
}

/*? Active */

.header-active {
    display: none;
}

/*? Toggle */

header .header-container {
    position: relative;
}

.header-btns-toggle {
    display: none;
}

.header-btns-toggle.active {
    display: block;
    position: absolute;
    display: flex;
    top: 84%;
    left: 50%;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.5rem;
    background-color: var(--text-color);
    border-radius: 0.5rem;
    z-index: 1000;
}

.header-btns-toggle.active .icon-b {
    color: #fff;
    font-size: 2rem;
}

/*  */

/*! Message */

.message {
    padding: 0 6rem;
    padding-top: 2rem;
    padding-bottom: 15rem;
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: 8.3rem;
}

.message-top-container p {
    color: var(--baslig-color);
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.message-top-container p a {
    color: var(--ana-sehife-text-color);
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: var(--transition-text);
}

.message-top-container p a:hover {
    color: var(--hover-color);
}

.message-center-container {
    display: flex;
    gap: 18rem;
}

/*? Left */

.message-left {
    display: flex;
    flex-direction: column;
    gap: 5.8rem;
}

.message-head h2 {
    color: var(--baslig-color);
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.message-bottom {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.message-form form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.message-inputs-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.message-inputs-container .message-inputs {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.message-inputs-container .message-inputs input {
    width: 31.5rem;
    height: 4rem;
    border-radius: 30px;
    border: 1px solid var(--text-color);
    padding-left: 2.3rem;
    outline: none;
}

.message-inputs-container .message-inputs input::placeholder {
    color: var(--text-color);
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.message-textarea textarea {
    width: 65rem;
    height: 12.7rem;
    border-radius: 30px;
    border: 1px solid var(--text-color);
    padding-top: 1.2rem;
    padding-left: 2.3rem;
    outline: none;
    resize: none;
}

.message-textarea textarea::placeholder {
    color: var(--text-color);
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.message-button .message-btn {
    width: 65rem;
    height: 4rem;
    border-radius: 30px;
    background: var(--orange-color);
    border: none;
    cursor: pointer;
    transition: var(--transition-button);
}

.message-button .message-btn:hover {
    background-color: #c79003;
}

.message-button .message-btn a {
    color: #ebe7e7;
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*? Right */

.message-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.8rem;
    width: 42.7rem;
    height: 46.7rem;
    background: #FFF;
    box-shadow: 0px 0px 7px 0px rgba(149, 149, 149, 0.6);
}

.message-card .message-head h3 {
    margin-top: 7.3rem;
    color: var(--baslig-color);
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.message-card .message-content {
    display: flex;
    flex-direction: column;
    gap: 4.6rem;
}

.message-card .message-content .message-line-1 {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

.message-card .message-content .message-line-1 .message-line-item-1 a {
    color: #69768B;
    font-family: Mulish;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.message-card .message-content .message-line-1 .message-line-item-2 {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.message-card .message-content .message-line-1 .message-line-item-2 a {
    color: #69768B;
    font-family: Mulish;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.message-card .message-content .message-line-2 {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

.message-card .message-content .message-line-2 .message-item a {
    color: #69768B;
    font-family: Mulish;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.message-card .message-content .message-line-2 .message-icons {
    display: flex;
    align-items: center;
    gap: 3.25rem;
}

.message-card .message-content .message-line-2 .message-icons a i {
    font-size: 1.9rem;
    color: var(--text-color);
    transition: var(--transition-text);
}

.message-card .message-content .message-line-2 .message-icons a i:hover {
    color: #893737;
}

/*! Footer */

footer {
    display: flex;
    flex-direction: column;
    gap: 9rem;
    padding: 9rem 16.2rem 3rem 6rem;
    background-color: rgb(248, 242, 243);
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 15rem;
}

.footer-right .footer-content {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.footer-right .footer-content a {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: var(--transition-text);
}

.footer-right .footer-content a:hover {
    color: var(--hover-color);
}

.footer-right .footer-content-2 {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

.footer-right .footer-content-2 p {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-right .footer-content-2 .footer-social {
    display: flex;
    align-items: center;
    gap: 3.7rem;
}

.footer-right .footer-content-2 .footer-social a i {
    font-size: 2.2rem;
    color: var(--text-color);
    transition: var(--transition-text);
}

.footer-right .footer-content-2 .footer-social a i:hover {
    color: var(--hover-color);
}

.footer-bottom-container p {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*! Responsive */

@media(max-width: 1285px) {

    /*! General */

    html {
        font-size: 50.5%;
    }

}

@media(max-width: 1050px) {

    /*! General */

    html {
        font-size: 48.5%;
    }

}

@media(max-width: 840px) {

    /*! General */

    html {
        font-size: 46.5%;
    }

    /*! Header */

    /*? Navbar-1(Yuxari) */

    .header-navbar-1 {
        padding: 1.4rem 2.5rem;
    }

    .header-navbar-1 .header-social a i {
        font-size: 1.8rem;
    }

    .header-navbar-1 .header-text-num p {
        font-size: 1.8rem;
    }

    /*! Navbar-2(Asagi) */

    .header-navbar-2 {
        padding: 0 2.5rem;
    }

    .header-navbar-2 .header-btns {
        display: flex;
        align-items: center;
        gap: 3.4rem;
    }

    .header-navbar-2 .header-btns a {
        font-size: 1.9rem;
    }

    /*? Languages */

    .header-navbar-2 .header-languages a {
        font-size: 1.8rem;
    }

    /*! Footer */

    .footer-container {
        display: flex;
        align-items: center;
        gap: 5rem;
    }

    .footer-right .footer-content a {
        font-size: 1.9rem;
    }

    .footer-right .footer-content-2 p {
        font-size: 2.1rem;
    }

    .footer-right .footer-content-2 .footer-social a i {
        font-size: 2.7rem;
    }

    /*? Right */

    .footer-right {
        gap: 10rem;
    }

}

@media(max-width: 720px) {

    /*! Header */

    /*? Navbar-2(Asagi) */

    .header-navbar-2 {
        gap: 3rem;
    }

}

@media(max-width: 648px) {

    /*! General */

    html {
        font-size: 40.5%;
    }

    /*! Header */

    /*? Asagidaki Navbar */

    .header-navbar-2 {
        gap: 2rem;
    }

    /*? Buttons */

    .header-navbar-2 .header-btns {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    /*? Button */

    .header-navbar-2 .header-btns a {
        font-size: 1.6rem;
    }

}

@media(max-width: 575px) {

    /*! Header */

    /*? Asagidaki Navbar */

    .header-navbar-2 {
        gap: 1.5rem;
    }

}

@media(max-width: 561px) {

}

@media(max-width: 555px) {

    /*! Footer */

    footer {
        display: flex;
        flex-direction: column;
        gap: 9rem;
        padding: 9rem 12.3rem 3rem 2.5rem;
        background-color: rgb(248, 242, 243);
    }

}

@media(max-width: 500px) {

    /*! Footer */

    /*? Right */

    .footer-right {
        gap: 6rem;
    }

}

@media(max-width: 412px) {

    /*! General */

    html {
        font-size: 38.5%;
    }

    /*! Header */

    /*? Navbar-1 */

    .header-navbar-1 {
        padding: 1.4rem 2rem;
    }

    .header-navbar-2 {
        padding: 0 2rem;
    }

    .header-navbar-2 .header-btns {
        display: none;
    }

    /*? Language */

    .header-navbar-2 .header-languages a {
        display: none;
    }

    .header-navbar-2 .header-list .icon-list i {
        display: block;
    }

    .header-btns-toggle .icon-a {
        font-size: 20px;
    }

    /*? Active */

    .header-active {
        display: none;
    }

    .header-icon-texts {
        display: flex;
        justify-content: space-between;
        padding: 2.6rem 2rem;
        width: 100%;
        height: 68px;
    }

    .header-x-mark .icon-mark i {
        font-size: 3.6rem;
        color: var(--orange-color);
        padding-top: 2rem;
        padding-right: 0.6rem;
    }

    .btns-language {
        display: flex;
        flex-direction: column;
        gap: 95px;
    }

    .header-btns {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-top: 32px;
        padding-left: 20px;
    }

    .header-btns a {
        color: var(--text-color);
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: var(--transition-text);
    }

    .header-btns a:hover {
        color: var(--hover-color);
    }

    .header-btns .btn-icon {
        display: flex;
        align-items: center;
        gap: 7.15px;
    }

    .header-btns .btn-icon i {
        font-size: 10px;
        color: var(--orange-color);
    }

    .header-languages {
        text-align: center;
        margin-bottom: 30px;
    }

    .header-languages a {
        color: var(--text-color);
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: var(--transition-text);
    }

    .header-languages a:hover {
        font-weight: 800;
    }

    .header-btns .btn-icon.active {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-left: -150px;
    }

    .header-btns .btn-icon .active {
        display: block;
    }

    .header-btns .btn-icon2 {
        display: none;
    }

    /*! Footer */

    .footer-container {
        display: flex;
        flex-direction: column;
    }

    .footer-right .footer-content a {
        font-size: 14px;
    }

    .footer-right .footer-content-2 p {
        font-size: 16px;
    }

    .footer-right .footer-content-2 .footer-social a i {
        font-size: 22px;
    }

    .footer-bottom-container p {
        font-size: 12px;
    }

    .footer-right {
        display: flex;
        align-items: start;
        flex-direction: column;
    }

}