* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --orange-color: #FFC01F;
    --text-color: #353535;
    --hover-color: rgb(241, 62, 62);
    --transition-text: all 0.126s ease-in;
    --baslig-color: #596C72;
    --transition-button: all 0.24s ease;
    --transition-box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.5);
    --card-text-color: #686868;
    --history-text-color: #B0ADAD;
    --background-color-grey:#EFEFEF;
    --ana-sehife-text-color:#ADADAD;
}

html {
    font-size: 62.5%;
}

/*! Header */

.header-container {
    display: flex;
    flex-direction: column;
}

/*? Ustdeki Navbar */

.header-navbar-1 {
    padding: 1.4rem 6rem;
    width: 100%;
    height: 4rem;
    background-color: var(--orange-color);
    display: flex;
    justify-content: space-between;
}

/*? Header-text */

.header-navbar-1 .header-text-num p {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*? Header Social */

.header-navbar-1 .header-social {
    display: flex;
    gap: 2.5rem;
}

.header-navbar-1 .header-social a i {
    font-size: 1.4rem;
    color: var(--text-color);
    transition: var(--transition-text);
}

.header-navbar-1 .header-social a i:hover {
    color: var(--hover-color);
}

/*? Altdaki Navbar */

.header-navbar-2 {
    width: 100%;
    height: 11.8rem;
    background: #fff;
    padding: 0 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 2px 7px 0px rgba(159, 159, 159, 0.25);
}

/*? Buttons-a */

.header-navbar-2 .header-btns {
    display: flex;
    align-items: center;
    gap: 5.4rem;
}

.header-navbar-2 .header-btns a {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: var(--transition-text);
}

.header-navbar-2 .header-btns a:hover {
    color: var(--hover-color);
}

/*? Texnikalar btn-icon */

.header-navbar-2 .header-btns .btn-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-navbar-2 .header-btns .btn-icon i {
    color: var(--orange-color);
}

/*? Languages */

.header-navbar-2 .header-languages a {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: var(--transition-text);
}

.header-navbar-2 .header-languages a:hover {
    font-weight: 800;
}

/*! Product */

.product {
    padding: 2rem 14.4rem;
}

.product-container {
    display: flex;
    flex-direction: column;
    gap: 6.6rem;
}

.product-top-container p {
    color: var(--baslig-color);
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.product-top-container p a {
    color: var(--ana-sehife-text-color);
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: var(--transition-text);
}

.product-top-container p a:hover {
    color: var(--hover-color);
}

.product-center-container {
    display: flex;
    gap: 2rem;
}

/*? Left */

.product-left-container {
    display: flex;
    gap: 1.1rem;
}

/*? Content 1 */

.product-content-1 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.product-content-1 .product-image {
    width: 7.2rem;
    height: 9.5rem;
    border: 1px solid var(--orange-color);
    background: #FFF;
    box-shadow: 0px 0px 7px 0px rgba(149, 149, 149, 0.25);
    cursor: pointer;
    transition: var(--transition-button);
}

.product-content-1 .product-image {
    box-shadow: var(--transition-box-shadow);
    position: relative;
}

.product-content-1 .product-image a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.product-content-1 .product-image img {
    width: 100%;
}

/*? Content 2 */

.product-content-2 .product-big-image {
    width: 48.2rem;
    height: 59.7rem;
    background: #FFF;
    box-shadow: 0px 0px 7px 0px rgba(149, 149, 149, 0.25);
    cursor: pointer;
    transition: var(--transition-button);
}

.product-content-2 .product-big-image:hover {
    box-shadow: var(--transition-box-shadow);
}

/*? Content 3 */

/*? Card */

.product-content-3 .product-card {
    display: flex;
    flex-direction: column;
    gap: 8.3rem;
    padding: 9.6rem 5rem;
    width: 56.6rem;
    height: 59.7rem;
    background: #FFF;
    box-shadow: 0px 0px 7px 0px rgba(149, 149, 149, 0.25);
}

/*? Line-1 */

.product-card .product-line-1 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.product-card .product-line-1 .product-text-history {
    display: flex;
    justify-content: space-between;
}

.product-card .product-line-1 .product-text-history .product-text {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.product-card .product-line-1 .product-text-history .product-text h3 {
    color: var(--baslig-color);
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.product-card .product-line-1 .product-text-history .product-text p {
    color: var(--card-text-color);
    font-family: Mulish;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*? History */

.product-card .product-line-1 .product-text-history .product-history .date {
    color: var(--history-text-color);
    font-family: Mulish;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product-card .product-line-1 .product-paragraph {
    width: 46.6rem;
}

.product-card .product-line-1 .product-paragraph p {
    color: #69768B;
    font-family: Mulish;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

/*? Line 2 */

.product-card .product-line-2 {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

.product-card .product-line-2 .product-money {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card .product-line-2 .product-money h5 {
    color: var(--baslig-color);
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.product-card .product-line-2 .product-money p {
    color: var(--orange-color);
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.product-card .product-button-line .product-button {
    width: 46.6rem;
    height: 4rem;
    border-radius: 30px;
    background: #FFC01F;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition-button);
}

.product-card .product-button-line .product-button:hover {
    opacity: 0.81;
}

.product-card .product-button-line .product-button a {
    color: var(--text-color);
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*? Active */

.prdc-container.active {
    width: 87.4rem;
    height: 47rem;
    background: #FFF;
    box-shadow: 0px 0px 7px 0px rgba(176, 176, 176, 0.5);
    padding: 8rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.prdc-container.active .prdc-head h3 {
    text-align: center;
    color: var(--baslig-color);
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.prdc-container.active .prdc-bottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.prdc-container.active .prdc-bottom .prdc-inputs {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.prdc-container.active .prdc-bottom .prdc-inputs input {
    width: 48.1rem;
    height: 4rem;
    border-radius: 30px;
    border: 1px solid var(--text-color);
    padding-left: 3.3rem;
    outline: none;
}

.prdc-container.active .prdc-bottom .prdc-inputs input::placeholder {
    color: var(--text-color);
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.prdc-container.active .prdc-bottom .prdc-button .prdc-btn {
    width: 48.1rem;
    height: 4rem;
    border-radius: 30px;
    background: #FFC01F;
    border: none;
    cursor: pointer;
    transition: var(--transition-button);
}

.prdc-container.active .prdc-bottom .prdc-button .prdc-btn:hover {
    background: #c08b07;
}

.prdc-container.active .prdc-bottom .prdc-button .prdc-btn a {
    color: #fff;
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*! Tech */

.tech {
    padding: 9rem 6rem;
}

.tech-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: start;
}

.tech-top-container h2 {
    color: var(--baslig-color);
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tech-center-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
}

/*? Card-Style */

.tech-center-container .tech-card {
    position: relative;
    width: 31.5rem;
    height: 54.5rem;
    background: #FFF;
    box-shadow: 0px 0px 7px 0px rgba(149, 149, 149, 0.25);
    cursor: pointer;
    transition: var(--transition-button);
}

/*? Tech-Image */

.tech-center-container .tech-card .tech-image img {
    width: 100%;
}

.tech-center-container .tech-card:hover {
    box-shadow: var(--transition-box-shadow);
}

.tech-center-container .tech-card a {
    width: 100%;
    height: 100%;
    position: absolute;
}

.tech-center-container .tech-card .tech-text-content {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/*? Line-1 */

.tech-center-container .tech-card .tech-text-content .tech-line-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.tech-center-container .tech-card .tech-text-content .tech-line-1 .tech-begin {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.tech-center-container .tech-card .tech-text-content .tech-line-1 .tech-begin .tech-h4 {
    color: var(--baslig-color);
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tech-center-container .tech-card .tech-text-content .tech-line-1 .tech-begin .tech-name {
    color: var(--card-text-color);
    font-family: Mulish;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tech-center-container .tech-card .tech-text-content .tech-line-1 .tech-continue .history {
    color: var(--history-text-color);
    font-family: Mulish;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*? Line-2 */

.tech-center-container .tech-card .tech-text-content .tech-line-2 {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.tech-center-container .tech-card .tech-text-content .tech-line-2 .tech-money {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.tech-center-container .tech-card .tech-text-content .tech-line-2 .tech-money p {
    color: var(--orange-color);
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tech-center-container .tech-card .tech-text-content .tech-button a {
    width: 25.5rem;
    height: 4rem;
    border-radius: 30px;
    border: 1px solid var(--card-text-color);
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    /*? Text */
    color: var(--text-color);
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /*? Hover Ucun */
    cursor: pointer;
    transition: var(--transition-button);
}

.tech-center-container .tech-card .tech-text-content .tech-button a:hover {
    background-color: var(--orange-color);
    color: #fff;
}

/*? Yellow Button */

.tech-button-yellow {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.tech-button-yellow a {
    width: 18.9rem;
    height: 4rem;
    border-radius: 30px;
    background: var(--orange-color);
    display: flex;
    justify-content: center;
    align-items: center;
    /*? Text */
    color: var(--text-color);
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    transition: var(--transition-button);
}

.tech-button-yellow a:hover {
    opacity: 0.81;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
}

/* .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

/*? Right Button */

.tech-center-container .buttons .fa-arrow-right {
    position: absolute;
    top: 50%;
    right: 0.5%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.5);
    padding: 1rem;
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--card-text-color);
}

/*? Left Button */

.tech-center-container .buttons .fa-arrow-left {
    position: absolute;
    top: 50%;
    left: 0.5%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.5);
    padding: 1rem;
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--card-text-color);
}

/*! Footer */

footer {
    display: flex;
    flex-direction: column;
    gap: 9rem;
    padding: 9rem 16.2rem 3rem 6rem;
    background-color: rgb(248, 242, 243);
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 15rem;
}

.footer-right .footer-content {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.footer-right .footer-content a {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: var(--transition-text);
}

.footer-right .footer-content a:hover {
    color: var(--hover-color);
}

.footer-right .footer-content-2 {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

.footer-right .footer-content-2 p {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-right .footer-content-2 .footer-social {
    display: flex;
    align-items: center;
    gap: 3.7rem;
}

.footer-right .footer-content-2 .footer-social a i {
    font-size: 2.2rem;
    color: var(--text-color);
    transition: var(--transition-text);
}

.footer-right .footer-content-2 .footer-social a i:hover {
    color: var(--hover-color);
}

.footer-bottom-container p {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}