* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --orange-color: #FFC01F;
    --text-color: #353535;
    --hover-color: rgb(241, 62, 62);
    --transition-text: all 0.126s ease-in;
    --baslig-color: #596C72;
    --transition-button: all 0.24s ease;
    --transition-box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.5);
    --card-text-color: #686868;
    --history-text-color: #B0ADAD;
    --background-color-grey:#EFEFEF;
    --ana-sehife-text-color:#ADADAD;
}

html {
    font-size: 62.5%;
}

/*! Header */

.header-container {
    display: flex;
    flex-direction: column;
}

/*? Ustdeki Navbar */

.header-navbar-1 {
    padding: 1.4rem 6rem;
    width: 100%;
    height: 4rem;
    background-color: var(--orange-color);
    display: flex;
    justify-content: space-between;
}

/*? Header-text */

.header-navbar-1 .header-text-num p {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*? Header Social */

.header-navbar-1 .header-social {
    display: flex;
    gap: 2.5rem;
}

.header-navbar-1 .header-social a i {
    font-size: 1.4rem;
    color: var(--text-color);
    transition: var(--transition-text);
}

.header-navbar-1 .header-social a i:hover {
    color: var(--hover-color);
}

/*? Altdaki Navbar */

.header-navbar-2 {
    width: 100%;
    height: 11.8rem;
    background: #fff;
    padding: 0 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 2px 7px 0px rgba(159, 159, 159, 0.25);
}

/*? Buttons-a */

.header-navbar-2 .header-btns {
    display: flex;
    align-items: center;
    gap: 5.4rem;
}

.header-navbar-2 .header-btns a {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: var(--transition-text);
}

.header-navbar-2 .header-btns a:hover {
    color: var(--hover-color);
}

/*? Texnikalar btn-icon */

.header-navbar-2 .header-btns .btn-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-navbar-2 .header-btns .btn-icon i {
    color: var(--orange-color);
}

/*? Languages */

.header-navbar-2 .header-languages a {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: var(--transition-text);
}

.header-navbar-2 .header-languages a:hover {
    font-weight: 800;
}

/*! Rent */

.rent {
    padding: 2rem 6rem;
}

.rent-container {
    display: flex;
    flex-direction: column;
    gap: 6.8rem;
}

/*? Rent Ana Sehife  */

.rent-top-container p {
    color: var(--baslig-color);
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.rent-top-container p a {
    color: var(--ana-sehife-text-color);
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: var(--transition-text);
}

.rent-top-container p a:hover {
    color: var(--hover-color);
}

/*? Rent-Center */

.rent-center-container {
    display: flex;
    gap: 6.3rem;
}

/*? Left */

.rent-left {
    display: flex;
    flex-direction: column;
    gap: 11.9rem;
}

.rent-left .rent-text h1 {
    color: var(--baslig-color);
    font-family: Montserrat;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.rent-left .rent-image {
    width: 42rem;
    height: 63rem;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.25);
    cursor: pointer;
    transition: var(--transition-button);
}

.rent-left .rent-image:hover {
    box-shadow: var(--transition-box-shadow);
}

.rent-left .rent-image img {
    width: 100%;
    padding: 1.8rem;
}

/*? Right */

.rent-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.rent-right .rent-image {
    width: 83.7rem;
    height: 55.8rem;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.25);
    cursor: pointer;
    transition: var(--transition-button);
}

.rent-right .rent-image:hover {
    box-shadow: var(--transition-box-shadow);
}

.rent-right .rent-image img {
    width: 100%;
    padding: 1.8rem;
}

.rent-right .rent-text .rent-paragraph {
    width: 67rem;
    height: 26.8rem;
}

.rent-right .rent-text .rent-paragraph p {
    color: var(--text-color);
    font-family: Mulish;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

/*! Footer */

footer {
    display: flex;
    flex-direction: column;
    gap: 9rem;
    padding: 9rem 16.2rem 3rem 6rem;
    background-color: rgb(248, 242, 243);
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 15rem;
}

.footer-right .footer-content {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.footer-right .footer-content a {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: var(--transition-text);
}

.footer-right .footer-content a:hover {
    color: var(--hover-color);
}

.footer-right .footer-content-2 {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

.footer-right .footer-content-2 p {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-right .footer-content-2 .footer-social {
    display: flex;
    align-items: center;
    gap: 3.7rem;
}

.footer-right .footer-content-2 .footer-social a i {
    font-size: 2.2rem;
    color: var(--text-color);
    transition: var(--transition-text);
}

.footer-right .footer-content-2 .footer-social a i:hover {
    color: var(--hover-color);
}

.footer-bottom-container p {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}