* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --orange-color: #FFC01F;
    --text-color: #353535;
    --hover-color: rgb(241, 62, 62);
    --transition-text: all 0.126s ease-in;
    --baslig-color: #596C72;
    --transition-button: all 0.24s ease;
    --transition-box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.5);
    --card-text-color: #686868;
    --history-text-color: #B0ADAD;
    --background-color-grey: #EFEFEF;
    --ana-sehife-text-color: #ADADAD;
}

html {
    font-size: 62.5%;
}

/*! Header */

.header-container {
    display: flex;
    flex-direction: column;
}

/*? Ustdeki Navbar */

.header-navbar-1 {
    padding: 1.4rem 6rem;
    width: 100%;
    height: 4rem;
    background-color: var(--orange-color);
    display: flex;
    justify-content: space-between;
}

/*? Header-text */

.header-navbar-1 .header-text-num p {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-logo a img {
    width: 100%;
}

/*? Header Social */

.header-navbar-1 .header-social {
    display: flex;
    gap: 2.5rem;
}

.header-navbar-1 .header-social a i {
    font-size: 1.4rem;
    color: var(--text-color);
    transition: var(--transition-text);
}

.header-navbar-1 .header-social a i:hover {
    color: var(--hover-color);
}

/*? Asagidaki Navbar */

.header-navbar-2 {
    width: 100%;
    height: 11.8rem;
    background: #fff;
    padding: 0 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 2px 7px 0px rgba(159, 159, 159, 0.25);
}

/*? Buttons-a */

.header-navbar-2 .header-btns {
    display: flex;
    align-items: center;
    gap: 5.4rem;
}

.header-navbar-2 .header-btns a {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: var(--transition-text);
}

.header-navbar-2 .header-btns a:hover {
    color: var(--hover-color);
}

/*? Texnikalar btn-icon */

.header-navbar-2 .header-btns .btn-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-navbar-2 .header-btns .btn-icon i {
    color: var(--orange-color);
}

/*? Languages */

.header-navbar-2 .header-languages a {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: var(--transition-text);
}

.header-navbar-2 .header-languages a:hover {
    font-weight: 800;
}

.header-navbar-2 .header-list .icon-list i {
    font-size: 3rem;
    color: var(--orange-color);
    display: none;
}

/*  */

/*! Heavy */

.heavy {
    padding: 0 6rem;
}

.heavy-container {
    width: 100%;
    height: 70rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*? Heavy-Left */

.heavy-left {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
}

/* H1-P */

.heavy-left .heavy-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.heavy-left .heavy-text h1 {
    width: 65rem;
    color: var(--baslig-color);
    font-family: Montserrat;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.heavy-left .heavy-text .heavy-paragraph {
    width: 47rem;
}

.heavy-left .heavy-text .heavy-paragraph p {
    color: var(--text-color);
    font-family: Mulish;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.heavy-left .heavy-button .heavy-btn {
    width: 14.7rem;
    height: 4rem;
    border-radius: 30px;
    border: 1px solid var(--text-color);
    background: transparent;
    cursor: pointer;
    transition: var(--transition-button);
}

.heavy-left .heavy-button .heavy-btn:hover {
    background-color: var(--orange-color);
}

.heavy-left .heavy-button .heavy-btn a {
    color: var(--text-color);
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*? Heavy-Right */

.heavy-right .heavy-image {
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.25);
    cursor: pointer;
}

.heavy-right .heavy-image:hover {
    box-shadow: var(--transition-box-shadow);
}

.heavy-right .heavy-image img {
    width: 100%;
    padding: 1.8rem;
}

/*? Heavy-Left-Image */

/* Left-Line-Image */

.heavy-left .heavy-left-image img {
    position: absolute;
    top: -20rem;
    left: -6rem;
    z-index: -1;
}

/*! Kategoriyalar */

.kategoriyalar {
    padding: 4.5rem 6rem;
}

.kategoriyalar-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/*? Basliq */

.kategoriyalar-top-container h2 {
    color: var(--baslig-color);
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*? Center */

.kategoriyalar-center-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: start;
}

/*? Yuxaridaki Cardlar */

.kategoriyalar-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

/*? Card */

.kategoriya-card {
    width: 31.5rem;
    height: 39.2rem;
    background: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(164, 164, 164, 0.25), 0px 1px 7px 0px rgba(194, 194, 194, 0.25) inset;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--transition-button);
}

.kategoriya-card:hover {
    box-shadow: var(--transition-box-shadow);
}

.kategoriya-card .card-text p {
    color: var(--baslig-color);
    font-family: Montserrat;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.kategoriya-card a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.kategoriya-card .card-image img {
    width: 100%;
}

/*! Test */

.test {
    padding: 9rem 6rem;
}

.test-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

/*? Left */

/*? Left-Image */

.test-left .test-image {
    width: 42rem;
    height: 63rem;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.25);
    cursor: pointer;
    transition: var(--transition-button);
}

.test-left .test-image:hover {
    box-shadow: var(--transition-box-shadow);
}

.test-left .test-image img {
    width: 100%;
    padding: 1.8rem;
}

/*? Right */

.test-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

/*? Left-Image */

.test-right .test-image {
    width: 83.7rem;
    height: 55.8rem;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.25);
    cursor: pointer;
    transition: var(--transition-button);
}

.test-right .test-image:hover {
    box-shadow: var(--transition-box-shadow);
}

.test-right .test-image img {
    width: 100%;
    padding: 1.8rem;
}

/*? Text-General */

.test-right .test-text-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.test-right .test-text-content .test-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.test-right .test-text-content .test-text h1 {
    width: 73.4rem;
    color: var(--baslig-color);
    font-family: Montserrat;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.test-right .test-text-content .test-text .test-paragraph {
    width: 67rem;
}

.test-right .test-text-content .test-text .test-paragraph p {
    color: var(--text-color);
    font-family: Mulish;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.test-right .test-text-content .test-button .test-btn {
    width: 14.7rem;
    height: 4rem;
    border-radius: 30px;
    border: 1px solid var(--text-color);
    background: transparent;
    cursor: pointer;
    transition: var(--transition-button);
}

.test-right .test-text-content .test-button .test-btn:hover {
    background-color: var(--orange-color);
}

.test-right .test-text-content .test-button .test-btn a {
    color: var(--text-color);
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*! Tech */

.tech {
    padding: 9rem 6rem;
}

.tech-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: start;
}

.tech-top-container h2 {
    color: var(--baslig-color);
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tech-center-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
}

/*? Card-Style */

.tech-center-container .tech-card {
    position: relative;
    width: 31.5rem;
    height: 54.5rem;
    background: #FFF;
    box-shadow: 0px 0px 7px 0px rgba(149, 149, 149, 0.25);
    cursor: pointer;
    transition: var(--transition-button);
}

/*? Tech-Image */

.tech-center-container .tech-card .tech-image img {
    width: 100%;
}

.tech-center-container .tech-card:hover {
    box-shadow: var(--transition-box-shadow);
}

.tech-center-container .tech-card a {
    width: 100%;
    height: 100%;
    position: absolute;
}

.tech-center-container .tech-card .tech-text-content {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/*? Line-1 */

.tech-center-container .tech-card .tech-text-content .tech-line-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.tech-center-container .tech-card .tech-text-content .tech-line-1 .tech-begin {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.tech-center-container .tech-card .tech-text-content .tech-line-1 .tech-begin .tech-h4 {
    color: var(--baslig-color);
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tech-center-container .tech-card .tech-text-content .tech-line-1 .tech-begin .tech-name {
    color: var(--card-text-color);
    font-family: Mulish;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tech-center-container .tech-card .tech-text-content .tech-line-1 .tech-continue .history {
    color: var(--history-text-color);
    font-family: Mulish;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*? Line-2 */

.tech-center-container .tech-card .tech-text-content .tech-line-2 {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.tech-center-container .tech-card .tech-text-content .tech-line-2 .tech-money {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.tech-center-container .tech-card .tech-text-content .tech-line-2 .tech-money p {
    color: var(--orange-color);
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tech-center-container .tech-card .tech-text-content .tech-button a {
    width: 25.5rem;
    height: 4rem;
    border-radius: 30px;
    border: 1px solid var(--card-text-color);
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    /*? Text */
    color: var(--text-color);
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /*? Hover Ucun */
    cursor: pointer;
    transition: var(--transition-button);
}

.tech-center-container .tech-card .tech-text-content .tech-button a:hover {
    background-color: var(--orange-color);
    color: #fff;
}

/*? Yellow Button */

.tech-button-yellow {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.tech-button-yellow a {
    width: 18.9rem;
    height: 4rem;
    border-radius: 30px;
    background: var(--orange-color);
    display: flex;
    justify-content: center;
    align-items: center;
    /*? Text */
    color: var(--text-color);
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    transition: var(--transition-button);
}

.tech-button-yellow a:hover {
    opacity: 0.81;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
}

/* .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

/*? Right Button */

.tech-center-container .buttons .fa-arrow-right {
    position: absolute;
    top: 50%;
    right: 0.5%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.5);
    padding: 1rem;
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--card-text-color);
}

/*? Left Button */

.tech-center-container .buttons .fa-arrow-left {
    position: absolute;
    top: 50%;
    left: 0.5%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.5);
    padding: 1rem;
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--card-text-color);
}

/*! Companies */

.companies {
    padding: 7rem 0rem;
}

.companies-container {
    display: flex;
    flex-direction: column;
    gap: 5.2rem;
}

.companies-top-container h2 {
    color: var(--baslig-color);
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.companies-center-container {
    display: flex;
    align-items: center;
    gap: 8.3rem;
}

/*! New */

.new {
    padding: 9rem 6rem;
}

.new-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/*? Head Text */

.new-top-container h2 {
    color: var(--baslig-color);
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
}

.new-center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.new-card {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 31.5rem;
    height: 42.8rem;
    background: #FFF;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 7px 0px rgba(149, 149, 149, 0.25);
    cursor: pointer;
    transition: var(--transition-button);
}

.new-card:hover {
    box-shadow: var(--transition-box-shadow);
}

/*? Image in Card */

.card-image img {
    width: 100%;
}

.new-card-text {
    padding: 0 2rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 5.3rem;
}

.new-card-text-head {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.new-card-text-head h4 {
    color: #191919;
    font-family: Montserrat;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.new-card-text-head .new-card-paragraph {
    width: 27.5rem;
}

.new-card-text-head .new-card-paragraph p {
    color: #69768B;
    font-family: Mulish;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.new-card-history p {
    color: #69768B;
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*! Email */

.email {
    margin-top: 13.5rem;
    margin-bottom: 10rem;
    padding: 6rem 6rem;
    width: 100%;
    height: 48.3rem;
    background: var(--background-color-grey);
}

.email-container {
    display: flex;
    align-items: start;
    /* justify-content: space-between; */
    gap: 5rem;
}

/*? Left */

.email-left {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/*? Basliq */

.email-top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.email-top h2 {
    width: 42rem;
    color: var(--baslig-color);
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.email-top .email-paragraph {
    width: 48.2rem;
}

.email-top .email-paragraph p {
    color: var(--text-color);
    font-family: Mulish;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

/*? Bottom (Form) */

.email-bottom form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/*? Inputs */

.form-inputs {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.form-inputs .email-inputs {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

/*? Input */

.form-inputs .email-inputs input {
    width: 23.1rem;
    height: 4rem;
    border-radius: 30px;
    border: 1px solid #353535;
    padding-left: 2.3rem;
    outline: none;
    padding-right: 1.5rem;
}

.form-inputs .email-inputs input::placeholder {
    color: var(--card-text-color);
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*? Form Button */

.email-button {
    width: 48.3rem;
    height: 4rem;
    border-radius: 30px;
    background: var(--orange-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition-button);
}

.email-button:hover {
    opacity: 0.81;
}

.email-button .share {
    color: var(--text-color);
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*? Right (Image) */

.email-right .email-image {
    display: flex;
    align-items: start;
    margin-top: -24rem;
}

.email-right .email-image img {
    width: 100%;
}

/*! Choose */

.choose {
    padding: 7rem 6rem;
}

.choose-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*? Left */

.choose-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.choose-left h2 {
    color: var(--baslig-color);
    font-family: Montserrat;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

/*? Left-Head */

.choose-left h2 span {
    font-size: 1rem;
}

.choose-left .choose-paragraph {
    width: 50.3rem;
}

.choose-left .choose-paragraph p {
    color: var(--text-color);
    font-family: Mulish;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

/*? Right */

.choose-right .choose-image {
    max-width: 67.7rem;
    height: 46.1rem;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.25);
    cursor: pointer;
    transition: var(--transition-button);
}

.choose-right .choose-image:hover {
    box-shadow: var(--transition-box-shadow);
}

.choose-right .choose-image img {
    padding: 1.8rem;
    width: 100%;
}

/*! Footer */

footer {
    display: flex;
    flex-direction: column;
    gap: 9rem;
    padding: 9rem 16.2rem 3rem 6rem;
    background-color: rgb(248, 242, 243);
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 15rem;
}

.footer-right .footer-content {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.footer-right .footer-content a {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: var(--transition-text);
}

.footer-right .footer-content a:hover {
    color: var(--hover-color);
}

.footer-right .footer-content-2 {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

.footer-right .footer-content-2 p {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-right .footer-content-2 .footer-social {
    display: flex;
    align-items: center;
    gap: 3.7rem;
}

.footer-right .footer-content-2 .footer-social a i {
    font-size: 2.2rem;
    color: var(--text-color);
    transition: var(--transition-text);
}

.footer-right .footer-content-2 .footer-social a i:hover {
    color: var(--hover-color);
}

.footer-bottom-container p {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*! Responsive */

@media(max-width: 1285px) {

    /*! General */

    html {
        font-size: 50.5%;
    }

}

@media(max-width: 1050px) {

    /*! General */

    html {
        font-size: 48.5%;
    }

    /*! Kategoriyalar */

    .kategoriyalar-top-container h2 {
        text-align: center;
    }

    .kategoriya-card {
        width: 42.5rem;
    }

}

@media(max-width: 840px) {

    /*! General */

    html {
        font-size: 46.5%;
    }

    /*! Header */

    /*? Navbar-1(Yuxari) */

    .header-navbar-1 {
        padding: 1.4rem 2.5rem;
    }

    .header-navbar-1 .header-social a i {
        font-size: 1.8rem;
    }

    .header-navbar-1 .header-text-num p {
        font-size: 1.8rem;
    }

    /*! Navbar-2(Asagi) */

    .header-navbar-2 {
        padding: 0 2.5rem;
    }

    .header-navbar-2 .header-btns {
        display: flex;
        align-items: center;
        gap: 3.4rem;
    }

    .header-navbar-2 .header-btns a {
        font-size: 1.9rem;
    }

    /*? Languages */

    .header-navbar-2 .header-languages a {
        font-size: 1.8rem;
    }

    /*! Heavy */

    .heavy {
        padding: 0 2.5rem;
    }

    /*? H1 */

    .heavy-left .heavy-text h1 {
        width: 46rem;
        font-size: 5.4rem;
    }

    /*? Paragraph(p) */

    .heavy-left .heavy-text .heavy-paragraph {
        width: 42rem;
    }

    .heavy-left .heavy-text .heavy-paragraph p {
        font-size: 1.8rem;
    }

    .heavy-left .heavy-button .heavy-btn a {
        font-size: 1.8rem;
    }

    /*! Kategoriyalar */

    .kategoriyalar {
        padding: 4.5rem 2.5rem;
    }

    .kategoriyalar-top-container h2 {
        text-align: center;
    }

    /*? Card-Text */

    .kategoriya-card .card-text p {
        padding-top: 2.5rem;
    }

    .kategoriyalar-top-container h2 {
        font-size: 3.9rem;
    }

    .kategoriya-card .card-text p {
        font-size: 2.7rem;
    }

    /*! Test */

    .test {
        padding: 9rem 2.5rem;
    }

    .test-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 3rem;
    }

    .test-right .test-text-content .test-text h1 {
        font-size: 5.4rem;
    }

    .test-right .test-text-content .test-text .test-paragraph p {
        font-size: 1.9rem;
        line-height: 27px;
    }

    .test-right .test-text-content .test-button .test-btn a {
        font-size: 1.9rem;
    }

    /*! Tech */

    .tech {
        padding: 9rem 2.5rem;
    }

    .tech-top-container h2 {
        font-size: 3.9rem;
    }

    .tech-center-container .tech-card .tech-text-content .tech-line-1 .tech-begin .tech-h4 {
        font-size: 2.4rem;
    }

    .tech-center-container .tech-card .tech-text-content .tech-line-1 .tech-begin .tech-name {
        font-size: 1.9rem;
    }

    .tech-center-container .tech-card .tech-text-content .tech-line-1 .tech-continue .history {
        font-size: 1.9rem;
    }

    .tech-center-container .tech-card .tech-text-content .tech-line-2 .tech-money p {
        font-size: 2.4rem;
    }

    /*? Card */

    .tech-center-container .tech-card {
        width: 31.5rem;
        height: 59.4rem;
    }

    .tech-center-container .tech-card .tech-text-content .tech-button a {
        font-size: 1.9rem;
    }

    /*! Companies */

    .companies {
        padding: 7rem 1rem;
    }

    .companies-top-container h2 {
        font-size: 3.9rem;
    }

    /*! New */

    .new {
        padding: 9rem 2.5rem;
    }

    .new-top-container h2 {
        font-size: 3.9rem;
    }

    .new-card {
        height: 54.8rem;
    }

    .new-card-text-head h4 {
        font-size: 2.1rem;
    }

    .new-card-text-head .new-card-paragraph p {
        font-size: 1.9rem;
    }

    .new-card-history p {
        font-size: 1.6rem;
    }
    

    /*? H2 */

    .new-top-container h2 {
        text-align: center;
    }

    /*? Card */

    .new-card {
        width: 42rem;
    }


    /*! Email */

    .email {
        padding: 6rem 2.5rem;
    }

    /*? h2 */

    .email-top h2 {
        width: 36rem;
        font-size: 3.9rem;
    }

    /*? Paragraph(p)  */

    .email-top .email-paragraph {
        width: 37.2rem;
    }

    .email-top .email-paragraph p {
        font-size: 1.8rem;
    }

    .form-inputs .email-inputs input {
        width: 23.1rem;
        height: 4rem;
        border-radius: 30px;
        border: 1px solid #353535;
        padding-left: 2.3rem;
        outline: none;
        padding-right: 1.5rem;
    }

    .form-inputs .email-inputs input::placeholder {
        font-size: 1.8rem;
    }

    /*? Input */

    .form-inputs .email-inputs input {
        width: 19rem;
    }

    /*? Button */

    .email-button {
        width: 37.2rem;
    }

    .email-button .share {
        font-size: 1.9rem;
    }

    /*? Image */

    .email-right .email-image {
        margin-top: -16rem;
    }

    /*! Choose */

    .choose {
        padding: 7rem 2.5rem;
    }

    .choose-left h2 {
        font-size: 5.4rem;
    }

    .choose-left h2 span {
        font-size: 1.5rem;
    }

    .choose-left .choose-paragraph {
        width: 36.3rem;
    }

    .choose-left .choose-paragraph p {
        font-size: 1.9rem;
        line-height: 27px;
    }

    /*? Right */

    /*? Image */

    .choose-right .choose-image {
        height: 42.1rem;
        margin-top: 5rem;
    }

    /*! Footer */

    .footer-container {
        display: flex;
        align-items: center;
        gap: 5rem;
    }

    .footer-right .footer-content a {
        font-size: 1.9rem;
    }

    .footer-right .footer-content-2 p {
        font-size: 2.1rem;
    }

    .footer-right .footer-content-2 .footer-social a i {
        font-size: 2.7rem;
    }

    /*? Right */

    .footer-right {
        gap: 10rem;
    }

}

@media(max-width: 720px) {

    /*! Header */

    /*? Navbar-2(Asagi) */

    .header-navbar-2 {
        gap: 3rem;
    }

}

@media(max-width: 648px) {

    /*! General */

    html {
        font-size: 40.5%;
    }

    /*! Header */

    /*? Asagidaki Navbar */

    .header-navbar-2 {
        gap: 2rem;
    }

    /*? Buttons */

    .header-navbar-2 .header-btns {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    /*? Button */

    .header-navbar-2 .header-btns a {
        font-size: 1.6rem;
    }

}

@media(max-width: 575px) {

    /*! Header */

    /*? Asagidaki Navbar */

    .header-navbar-2 {
        gap: 1.5rem;
    }

}

@media(max-width: 561px) {

    /*! Test */

    /*? Right */

    .test-right .test-image {
        width: 73.8rem;
    }

    /*? Image */

    .test-right .test-image img {
        width: 100%;
        padding: 1rem;
    }

}

@media(max-width: 555px) {

    /*! Email */

    /*? h2 */

    .email-top h2 {
        width: 30rem;
    }

    /*? Paragraph(p)  */

    .email-top .email-paragraph {
        width: 32rem;
    }

    .form-inputs .email-inputs input {
        width: 19.2rem;
        height: 4rem;
        border-radius: 30px;
        border: 1px solid #353535;
        padding-left: 2.3rem;
        outline: none;
        padding-right: 1.5rem;
    }

    /*? Input */

    .form-inputs .email-inputs input {
        width: 15rem;
    }

    /*? Button */

    .email-button {
        width: 32rem;
    }

    /*? Image */

    .email-right .email-image {
        margin-top: -12rem;
    }

    /*! Footer */

    footer {
        display: flex;
        flex-direction: column;
        gap: 9rem;
        padding: 9rem 12.3rem 3rem 2.5rem;
        background-color: rgb(248, 242, 243);
    }

}

@media(max-width: 500px) {

    /*! Heavy */

    /*? Left */

    /*? H1 */

    .heavy-left .heavy-text h1 {
        width: 32rem;
        font-size: 3.6rem;
        line-height: 36px;
    }

    /*? Paragraph(p) */

    .heavy-left .heavy-text .heavy-paragraph {
        width: 33rem;
    }

    .heavy-left .heavy-text .heavy-paragraph p {
        line-height: 15px;
    }

    /*? Button */

    .heavy-left .heavy-button .heavy-btn {
        width: 16.8rem;
    }

    .heavy-left .heavy-button .heavy-btn a {
        color: var(--text-color);
        font-family: Mulish;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    /*! Kategoriyalar */

    .kategoriya-card {
        width: 31.5rem;
        height: 45.3rem;
        background: #FFF;
        box-shadow: 0px 0px 15px 0px rgba(164, 164, 164, 0.25), 0px 1px 7px 0px rgba(194, 194, 194, 0.25) inset;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: var(--transition-button);
    }

    /*! Test */

    /*? Right */

    .test-right .test-image {
        width: 63.9rem;
    }

    /*! Email */

    /*! Email */

    .email {
        margin-top: 13.5rem;
        margin-bottom: 10rem;
        padding: 6rem 6rem;
        width: 100%;
        height: 60.3rem;
        background: var(--background-color-grey);
    }

    /*? h2 */

    .email-top h2 {
        width: 25rem;
    }

    /*? Paragraph(p)  */

    .email-top .email-paragraph {
        width: 27rem;
    }

    .form-inputs .email-inputs input {
        width: 16.2rem;
        height: 3rem;
    }

    .form-inputs .email-inputs input::placeholder {
        font-size: 1.6rem;
    }

    /*? Input */

    .form-inputs .email-inputs input {
        width: 10rem;
    }

    /*? Button */

    .email-button {
        width: 27rem;
    }

    .email-button .share {
        font-size: 1.6rem;
    }

    /*? Image */

    .email-right .email-image {
        margin-top: -9rem;
    }

    /*! Footer */

    /*? Right */

    .footer-right {
        gap: 6rem;
    }

}

@media(max-width: 412px) {

    /*! General */

    html {
        font-size: 38.5%;
    }

    /*! Header */

    /*? Navbar-1 */

    .header-navbar-1 {
        padding: 1.4rem 2rem;
    }

    .header-navbar-2 {
        padding: 0 2rem;
    }

    .header-navbar-2 .header-btns {
        display: none;
    }

    /*? Language */

    .header-navbar-2 .header-languages a {
        display: none;
    }

    .header-navbar-2 .header-list .icon-list i {
        display: block;
    }

    /*! Heavy */

    .heavy {
        padding: 0 0;
        /* margin-top: 30rem; */
        margin-bottom: 30rem;
    }

    .heavy-container {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .heavy-right .heavy-image {
        background: #FFF;
        box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.25);
        cursor: pointer;
    }

    .heavy-right .heavy-image img {
        width: 100%;
        padding: 0;
        width: 100%;
        height: 597px;
    }

    .heavy-text {
        position: absolute;
        z-index: 2;
        bottom: -500px;
        left: -180px;
    }

    .heavy-left .heavy-text h1 {
        color: #fff;
    }

    .heavy-left .heavy-text .heavy-paragraph p {
        color: #FFF;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
    }

    .heavy-left .heavy-button {
        position: absolute;
        bottom: -540px;
        left: -180px;
        z-index: 1000;
    }

    .heavy-left-image .left-image img {
        display: none;
    }

    /*? Button */

    .heavy-left .heavy-button .heavy-btn {
        background: #fff;
    }

    .heavy-right .heavy-image {
        background: transparent;
        cursor: pointer;
    }

    .heavy-right .heavy-image img {
        width: 100%;
        padding: 0;
    }

    /*! Kategoriyalar */

    .kategoriyalar {
        padding: 4.5rem 2rem;
    }

    .kategoriya-card .card-image img {
        display: none;
    }

    .kategoriya-card {
        width: 165px;
        height: 84px;
        background: #FFF;
        box-shadow: 0px 0px 7px 0px rgba(164, 164, 164, 0.25), 0px 1px 7px 0px rgba(194, 194, 194, 0.25) inset;
    }

    .kategoriyalar-top-container h2 {
        text-align: start;
        margin-left: 2rem;
    }

    /*! Test */

    .test {
        padding: 9rem 0rem;
    }

    .test-left .test-image {
        display: none;
    }

    .test-container {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
    }

    /*? Right */

    .test-right .test-text-content .test-text {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        margin-top: -15rem;
    }

    .test-right .test-image {
        width: 100%;
    }

    .test-right .test-image img {
        width: 100%;
        padding: 0;
        width: 100%;
        height: 597px;
    }

    .test-right .test-text-content .test-text h1 {
        width: 350px;
        /* padding: 0 2rem; */
        color: #FFF;
        font-family: Montserrat;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
    }

    .test-right .test-text-content .test-text .test-paragraph {
        width: 350px;
    }

    .test-right .test-text-content .test-text .test-paragraph p {
        color: #FFF;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        /* padding: 0 2rem; */
    }

    .test-right .test-text-content .test-button .test-btn {
        background: #fff;
    }

    .test-right .test-text-content .test-button .test-btn a {
        color: var(--text-color);
        font-family: Mulish;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0 2rem;
        display: inline-block;
    }

    /*! Tech */

    .tech {
        padding: 9rem 0rem;
    }

    .tech-top-container h2 {
        padding: 8rem 2rem;
        font-size: 30px;
    }

    .tech-center-container .tech-card {
        width: 350px;
        height: 510px;
        background: #FFF;
        box-shadow: 0px 0px 20px 0px rgba(175, 175, 175, 0.25);
    }

    .tech-center-container .tech-card .tech-text-content .tech-line-1 .tech-begin .tech-h4 {
        font-size: 18px;
    }

    .tech-center-container .tech-card .tech-text-content .tech-line-1 .tech-begin .tech-name {
        font-size: 14px;
    }

    .tech-center-container .tech-card .tech-text-content .tech-line-1 .tech-continue .history {
        font-size: 14px;
    }

    .tech-center-container .tech-card .tech-text-content .tech-line-2 .tech-money p {
        font-size: 18px;
    }

    .tech-center-container .tech-card .tech-text-content .tech-button a {
        width: 310px;
        height: 40px;
        border-radius: 30px;
        border: 1px solid var(--text-color);
        font-size: 12px;
    }

    .tech-center-container .buttons .fa-arrow-right {
        display: none;
    }
    
    /*? Left Button */
    
    .tech-center-container .buttons .fa-arrow-left {
        display: none;
    }

    /*! Companies */

    .companies-top-container h2 {
        font-size: 30px;
    }

    /*! New */

    .new {
        padding: 9rem 2rem;
    }

    .new-top-container h2 {
        font-size: 30px;
    }

    /*? Card */

    .new-card {
        width: 350px;
        height: 405px;
    }

    .new-card-text-head h4 {
        font-size: 16px;
    }

    .new-card-text-head .new-card-paragraph {
        width: 310px;
    }

    .new-card-text-head .new-card-paragraph p {
        font-size: 14px;
    }

    .new-card-history p {
        font-size: 12px;
    }

    /*! Email */

    .email {
        width: 100%;
        height: 520px;
        padding: 8rem 2rem;
        margin-top: -5rem;
    }

    .email-top h2 {
        width: 350px;
        font-size: 30px;
    }

    .email-top .email-paragraph {
        width: 350px;
    }

    .email-top .email-paragraph p {
        font-size: 14px;
    }

    .form-inputs .email-inputs input {
        width: 350px;
        height: 40px;
    }

    .form-inputs {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    .email-button {
        width: 350px;
        height: 40px;
    }

    .email-button .share {
        font-size: 12px;
    }

    .form-inputs .email-inputs input::placeholder {
        font-size: 12px;
    }

    /*? Right */

    .email-right .email-image {
        display: none;
    }

    /*! Choose */

    .choose {
        padding: 7rem 0rem;
    }

    .choose-container {
        display: flex;
        flex-direction: column;
    }

    /*? Left */

    .choose-left h2 {
        font-size: 50px;
        color: #fff;
        padding: 0 2rem;
    }

    .choose-left h2 span {
        font-size: 10px;
        color: #fff;
    }

    .choose-left .choose-paragraph {
        width: 350px;
    }

    .choose-left .choose-paragraph p {
        color: #fff;
        font-size: 14px;
        padding: 0 2rem;
    }

    /*? Right */

    .choose-right .choose-image {
        margin-bottom: 50rem;
        margin-top: -80rem;
        background: transparent;
        position: relative;
        z-index: -1;
    }

    .choose-right .choose-image img {
        padding: 0;
        width: 100%;
        width: 100%;
        height: 597px;
    }

    /*! Footer */

    .footer-container {
        display: flex;
        flex-direction: column;
    }

    .footer-right .footer-content a {
        font-size: 14px;
    }

    .footer-right .footer-content-2 p {
        font-size: 16px;
    }

    .footer-right .footer-content-2 .footer-social a i {
        font-size: 22px;
    }

    .footer-bottom-container p {
        font-size: 12px;
    }

    .footer-right {
        display: flex;
        align-items: start;
        flex-direction: column;
    }

}