* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --orange-color: #FFC01F;
    --text-color: #353535;
    --hover-color: rgb(241, 62, 62);
    --transition-text: all 0.126s ease-in;
    --baslig-color:#596C72;
    --transition-button: all 0.24s ease;
}

html {
    font-size: 62.5%;
}

/*! Header */

.header-container {
    display: flex;
    flex-direction: column;
}

/*? Ustdeki Navbar */

.header-navbar-1 {
    padding: 1.4rem 6rem;
    width: 100%;
    height: 4rem;
    background-color: var(--orange-color);
    display: flex;
    justify-content: space-between;
}

/*? Header-text */

.header-navbar-1 .header-text-num p {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*? Header Social */

.header-navbar-1 .header-social {
    display: flex;
    gap: 2.5rem;
}

.header-navbar-1 .header-social a i {
    font-size: 1.4rem;
    color: var(--text-color);
    transition: var(--transition-text);
}

.header-navbar-1 .header-social a i:hover {
    color: var(--hover-color);
}

/*? Altdaki Navbar */

.header-navbar-2 {
    width: 100%;
    height: 11.8rem;
    background: #fff;
    padding: 0 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 2px 7px 0px rgba(159, 159, 159, 0.25);
}

/*? Buttons-a */

.header-navbar-2 .header-btns {
    display: flex;
    align-items: center;
    gap: 5.4rem;
}

.header-navbar-2 .header-btns a {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: var(--transition-text);
}

.header-navbar-2 .header-btns a:hover {
    color: var(--hover-color);
}

/*? Texnikalar btn-icon */

.header-navbar-2 .header-btns .btn-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-navbar-2 .header-btns .btn-icon i {
    color: var(--orange-color);
}

/*? Languages */

.header-navbar-2 .header-languages a {
    color: var(--text-color);
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: var(--transition-text);
}

.header-navbar-2 .header-languages a:hover {
    font-weight: 800;
}

/*! Heavy */

.heavy {
    padding: 0 6rem;
}

.heavy-container {
    width: 100%;
    height: 70rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*? Heavy-Left */

.heavy-left {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
}

/* H1-P */

.heavy-left .heavy-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.heavy-left .heavy-text h1 {
    width: 65rem;
    color: var(--baslig-color);
    font-family: Montserrat;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.heavy-left .heavy-text .heavy-paragraph {
    width: 47rem;
}

.heavy-left .heavy-text .heavy-paragraph p {
    color: var(--text-color);
    font-family: Mulish;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.heavy-left .heavy-button .heavy-btn {
    width: 14.7rem;
    height: 4rem;
    border-radius: 30px;
    border: 1px solid var(--text-color);
    background: transparent;
    cursor: pointer;
    transition: var(--transition-button);
}

.heavy-left .heavy-button .heavy-btn:hover {
    background-color: var(--orange-color);
}

.heavy-left .heavy-button .heavy-btn a {
    color: var(--text-color);
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*? Heavy-Right */

.heavy-right .heavy-image img {
    width: 100%;
}

/*? Heavy-Left-Image */

/* Left-Line-Image */

.heavy-left .heavy-left-image img {
    position: absolute;
    top: -20rem;
    left: -6rem;
    z-index: -1;
}

/*! Kategoriya */

.kategoriya-card{
    position: relative;
}
.kategoriya-card a{
    position: absolute;
    width: 100%;
    height: 100%;
}